.sidebar {
  background-color: #d87e7e;
  height: 1000px;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidebar a {
  font-size: 25px;
  color: white;
}
.affix {
  top: 0px;
  position: sticky;
}
footer {
  background-color: #965faf;
  color: white;
  padding: 15px;
  z-index: 999;
  position: relative;
}
header {
  background-color: #965faf;
  color: white;
  padding: 15px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  color: #f3d423 !important;
  background-color: #b13070;
}
.nav-pills > li > a:hover {
  background-color: blue;
}
.spacing {
  line-height: 1.7;
}
p {
  font-size: 18px;
}
img {
  float: left;
  padding: 15px;
  width: 500px;
  height: auto;
}

.bg-color {
  background-color: #91cecc;
}
.indent {
  text-indent: 48px;
}
[data-toggle="tooltip"],
figure {
  float: left;
}
figcaption {
  background-color: chartreuse;
  padding: 15px;
  margin: 15px;
}
