.sidebar {
  background-color: #d37f7f;
  height: 1000px;
}
.affix {
  top: 0px;
  position: sticky;
}
footer {
  background-color: #965faf;
  color: white;
  padding: 15px;
  z-index: 999;
  position:relative;
}
header {
  background-color: #965faf;
  color: white;
  padding: 15px;
}
